// @forward "./base/reset";
// @forward "./base/typography";
@forward "./base/index";
@use "./util/index" as variable;
header
{background-color: variable.$header-bg;
padding: 1rem;
}
main{
    background-color: index.$main-bg;
    padding: 1rem;
}
